   .image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
  }
  
  .image-item {
    position: relative;
    width: 240px;
  }
  
  .image-item img {
    object-fit: cover; 
    width: 240px;
    height: 150px;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .gallery-item {
      display: grid !important;
    grid-template-columns: repeat(2, 1.5fr) !important; 
    grid-gap: 10px !important; 
    }
    .image-item {
      position: relative;
      width: 200px;
    }
    .image-item img {
      object-fit: cover; 
      width: 200px;
      height: 100px;
    }
  }