/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .gallery-item {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    position: relative;
  }
  
  .play-button {
    font-size: 2rem;
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    .gallery-item {
      height: 100px;
    }
  }
   */


   .image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* Adjust gap as needed */
  }
  
  .image-item {
    position: relative;
    width: 240px;
  }
  
  .image-item img {
    object-fit: cover; 
    width: 240px;
    height: 150px;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .gallery-item {
      display: grid !important;
    grid-template-columns: repeat(2, 1.5fr) !important; /* 3 columns */
    grid-gap: 10px !important; /* Adjust gap as needed */
    }
    .image-item {
      position: relative;
      width: 200px;
    }
    .image-item img {
      object-fit: cover; 
      width: 200px;
      height: 100px;
    }
  }